<h1>
    Editar / Agregar
    Empleado
    <small>Memo</small>
</h1>

<div fxLayout="row" 
     fxLayout.xs="column" 
     fxLayoutGap="40px">

     <div fxFlex="100" fxLayout="Column">

        <mat-tab-group backgroundColor="primary" color="primary" mat-stretch-tabs="false" mat-align-tabs="start"> 
            <mat-tab label="Empleado">

                <div fxFlex="100" fxLayout="column" fxLatoutGap="10px">
                    <app-empleado></app-empleado>
                </div>

            </mat-tab>
            <mat-tab label="Documentos">
                <app-documentos></app-documentos>
            </mat-tab>
        </mat-tab-group>

    </div>

</div>


